
parameters:
- name: python_version
  type: string
- name: poetry_version
  type: string
- name: pat_username
  type: string
- name: pat
  type: string

steps:
  - template: /devops_pipelines/templates/configure_python.yml
    parameters:
      python_version: '${{ parameters.python_version }}'
      poetry_version: '${{ parameters.poetry_version }}'
      pat_username: '${{ parameters.pat_username }}'
      pat: '${{ parameters.pat }}'

  - script: poetry install --without dev,precommit
    displayName: 'Install main and test dependencies with poetry'

  - script: poetry run pytest ./tests --doctest-modules --junitxml=junit/test-results.xml --cov=src/cv_raamdetectie --cov-config=.coveragerc_pipeline --cov-report=xml --cov-report=html -m "not onlylocal" 
    displayName: 'Unit tests'

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'junit/test-results.xml'
      testRunTitle: '$(Agent.OS) - $(Build.BuildNumber)[$(Agent.JobName)] - Python $(python.version) - Linting and Unit Test results'
    condition: succeededOrFailed()
    displayName: 'Publish unit test results'

  - task: PublishCodeCoverageResults@2
    inputs:
      failIfCoverageEmpty: true 
      summaryFileLocation: 'coverage.xml'
      pathToSources: 'src/cv_raamdetectie'
    displayName: 'Publish Coverage Results'
