
parameters:
  - name: poetry_version
    type: string
  - name: username
    type: string
  - name: personalAccessToken
    type: string

steps:
  - bash: |
        python -m pip install --upgrade pip
        python -m pip install poetry==${{ parameters.poetry_version }}
    displayName: 'Install poetry ${{ parameters.poetry_version }}'
  - bash: |
      PRIVATE_SOURCES=$(poetry source show | awk -F':' '/name/{name=$2} /name/ && !/PyPI/ && name {gsub(/^ +| +$/, "", name); print name}')
      if [ -z "$PRIVATE_SOURCES" ]; then
        echo "There seem to be no private package sources; exiting"
        exit 0
      fi
      while IFS= read -r SOURCE; do
        echo "Storing credentials for source=$SOURCE."
        poetry config http-basic."$SOURCE" "${{ parameters.username }}" "${{ parameters.personalAccessToken }}"
      done <<< "$PRIVATE_SOURCES"
    displayName: 'Configure credentials for private sources'
