
parameters:
- name: python_version
  type: string
- name: poetry_version
  type: string
- name: pat_username
  type: string
- name: pat
  type: string
  
steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '${{ parameters.python_version }}'
    displayName: 'Use Python ${{ parameters.python_version }}'
  - template: configure_poetry.yml
    parameters:
      poetry_version: '${{ parameters.poetry_version }}'
      username: '${{ parameters.pat_username }}'
      personalAccessToken: '${{ parameters.pat }}'
