name: UnitTest

on:
  workflow_call:

inputs:
  python_version:
    description: "Python version to use"
    required: true
    type: string

jobs:
  UnitTest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python_version }}

      - run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install --only dev,test

      - run: poetry run pytest -m "not onlylocal"
